@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=Tenor+Sans&display=swap");


* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}



:root {

  --ff-xsm: 14px;
  --ff-sm: 16px;
  --ff-md: 18px;
  --ff-lg: 20px;
  --ff-xl: 25px;
  --ff-2xl: 30px;
  --ff-3xl: 36px;
  --ff-4xl: 45px;
  --ff-5xl: 70px;

  --clr-cream: #fff9f0;
  --clr-brown: #89886d;
  --clr-green: #122b18;
  --clr-light: #b7ac84;
  --clr-lightbrown: #c8c0a1;
}

.ff_jost {
  font-family: 'Jost', sans-serif;
}

.ff_mont {
  font-family: 'Montserrat', sans-serif;
}

.ff_tenor {
  font-family: 'Tenor Sans', sans-serif;
}

.fs_xsm {
  font-size: var(--ff-xsm);
}

.fs_sm {
  font-size: var(--ff-sm);
}

.fs_md {
  font-size: var(--ff-md);
}

.fs_lg {
  font-size: var(--ff-lg);
}

.fs_xl {
  font-size: var(--ff-xl);
}

.fs_2xl {
  font-size: var(--ff-2xl);
}

.fs_3xl {
  font-size: var(--ff-3xl);
}

.fs_4xl {
  font-size: var(--ff-4xl);
}

.fs_5xl {
  font-size: var(--ff-5xl);
}

.clr_cream {
  color: var(--clr-cream);
}

.clr_brown {
  color: var(--clr-brown);
}

.clr_green {
  color: var(--clr-green);
}

.clr_light {
  color: var(--clr-light);
}

.clr_lightbrown {
  color: var(--clr-lightbrown);
}

.line_height_93 {
  line-height: 93%;
}

.line_height_116 {
  line-height: 116%;
}

.line_height_108 {
  line-height: 109%;
}

.header_bg {
  background-position: 50%;
  background-image: url(./assets/images/png/headerbg.png);
  background-size: cover;
}

.stroke_width_hover:hover {
  -webkit-text-stroke-width: .2px;
}

.trans_03 {
  transition: all .3s linear;
}

.max_width_1433 {
  max-width: 1433px;
}

.max_width_1009 {
  max-width: 1009px;
}

.header_button {
  border-radius: 9px;
  padding: 18px 62.3px;
  letter-spacing: 3.125px;
  border: 3px solid var(--clr-cream);
  background: rgba(255, 249, 240, 0.25);
}

.header_button:hover {
  background-color: var(--clr-brown);

}

.bg_cream {
  background: var(--clr-cream);
}

@media (max-width:1200px) {
  :root {

    --ff-xsm: 14px;
    --ff-sm: 16px;
    --ff-md: 18px;
    --ff-lg: 20px;
    --ff-xl: 20px;
    --ff-2xl: 22px;
    --ff-3xl: 36px;
    --ff-4xl: 45px;
    --ff-5xl: 57px;

  }

  .logo_width_height {
    max-width: 200px;
    height: 100px;
  }

}

@media (max-width:992px) {
  :root {

    --ff-xsm: 14px;
    --ff-sm: 16px;
    --ff-md: 18px;
    --ff-lg: 20px;
    --ff-xl: 20px;
    --ff-2xl: 22px;
    --ff-3xl: 36px;
    --ff-4xl: 45px;
    --ff-5xl: 50px;

  }

  .logo_width_height {
    max-width: 200px;
    height: 100px;
  }

}

@media (max-width:576px) {
  :root {

    --ff-xsm: 14px;
    --ff-sm: 16px;
    --ff-md: 18px;
    --ff-lg: 20px;
    --ff-xl: 14px;
    --ff-2xl: 16px;
    --ff-3xl: 36px;
    --ff-4xl: 45px;
    --ff-5xl: 24px;

  }

  .header_button {
    border-radius: 9px;
    padding: 9px 30px;
    letter-spacing: 1.66px;
    border: 3px solid var(--clr-cream);
    background: rgba(255, 249, 240, 0.25);
  }

  .logo_width_height {
    max-width: 150px;
    height: 70px;
  }
}
