@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=Tenor+Sans&display=swap");

:root {

  --ff-xsm: 14px;
  --ff-sm: 16px;
  --ff-md: 18px;
  --ff-lg: 20px;
  --ff-xl: 25px;
  --ff-2xl: 30px;
  --ff-3xl: 36px;
  --ff-4xl: 45px;
  --ff-5xl: 70px;

  --clr-cream: #fff9f0;
  --clr-brown: #89886d;
  --clr-green: #122b18;
  --clr-light: #b7ac84;
  --clr-lightbrown: #c8c0a1;
}

.ff_jost {
  font-family: 'Jost', sans-serif;
}

.ff_mont {
  font-family: 'Montserrat', sans-serif;
}

.ff_tenor {
  font-family: 'Tenor Sans', sans-serif;
}

.fs_xsm {
  font-size: var(--ff-xsm);
}

.fs_sm {
  font-size: var(--ff-sm);
}

.fs_md {
  font-size: var(--ff-md);
}

.fs_lg {
  font-size: var(--ff-lg);
}

.fs_xl {
  font-size: var(--ff-xl);
}

.fs_2xl {
  font-size: var(--ff-2xl);
}

.fs_3xl {
  font-size: var(--ff-3xl);
}

.fs_4xl {
  font-size: var(--ff-4xl);
}

.fs_5xl {
  font-size: var(--ff-5xl);
}

.clr_cream {
  color: var(--clr-cream);
}

.clr_brown {
  color: var(--clr-brown);
}

.clr_green {
  color: var(--clr-green);
}

.clr_light {
  color: var(--clr-light);
}

.clr_lightbrown {
  color: var(--clr-lightbrown);
}